[push]
	default = tracking

[user]
        name = Nikos Kakavas
        email = nkakavas@tripsta.com

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow
        frag = magenta
        old = red
        new = green

[color "status"]
        added = green
        changed = red
        untracked = cyan

[core]
        autocrlf = false
        savecrlf = false
	editor = vim

[alias]
        pl = pull
        pr = pull --rebase --prune
        st = status
        co = checkout
        ci = commit
        ct = commit -m
        ps = push
        who = shortlog -s
        lg = log
        lc = log ORIG_HEAD.. --stat --no-merges
        lol = log --pretty=oneline --abbrev-commit --graph --decorate
        br = branch
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t
        dump = cat-file -p

